[mysqld]

# Disables DNS lookup for performance reasons
skip-host-cache
skip-name-resolve

# Binds to all interfaces so that it can be reached from any IP address
bind-address=0.0.0.0

# Enables networking
skip-networking=0
